$yellow: #c3b935;
$grey: #222222;
$light-yellow: #d8d5ab;

// размер spaceship и breakpoint нижнего блока
body {
  background-color: black;
  color:yellow;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.header {
  height: 200px;
  text-align: center;
}

.header__logo {
  position: relative;
  animation: title infinite 2s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
  max-width: 50%;
  height: auto;
}

.header__button {
    background-color: transparent;
    color: $yellow;
    border: 1px solid $yellow;
    height: 40px;
    max-width: 250px;
  &:hover {
    border-color: $light-yellow;
    color: $light-yellow;
  }
}

.header__form {
  margin-top: 150px;
}

.header__form__input {
  border: none;
  border-bottom: 1px solid $yellow;
  background: transparent;
  max-width: 33%;
  color: #999998;
  outline: none;
}

.header__form__button {
  background-color: $yellow;
  border: none;
  padding: 3px 15px;
  font-size: 16px;
  font-weight: bold;
  color: $grey;
  &:hover {
    background-color: $light-yellow;
  }
} 

.main__history-container {
  height: 200px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.main__history-container__history-p {
  text-align: center;
  padding: 30px 10px;
  height: 50px;
}

.main__response {
  text-align: center;
  margin-top: 55px;
}

.main__quotes {
  margin: 150px auto 0px;
  text-align: center;
}

.main__quotes__container {
  max-width: 90%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 800px) and (min-width: 200px) {
  .header, .main {
    height: 100px;
    font-size: 10px;
  }
  form {
    padding-top: 50px;
  }
  .main__quotes__container {
    display: inline-block;
  }
  .main__quotes__container__example {
    padding: 10px; 
  }
  .main__history-container__history-p {
    display: block;
    font-size: 10px;
    padding: 30px 7px;
  }
  #h3 {
    font-size: 10px;
  }
  .main__spaceship__image {
    display: none;
  }
}
.main__quotes__container__example {
  padding: 30px;
  cursor: pointer;
  max-width: 80%;
  height: auto;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.main__spaceship__image {
  max-width: 100px;
  height: auto;
  position: absolute;
  z-index: 1;
  animation: spaceship infinite 10s;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease-out;
}

@keyframes spaceship {
  0%   {right:50px; bottom:0px;}
  25%  {right:10px; bottom:80px;}
  50%  {right:200px; bottom:200px;}
  75%  {right:500px; bottom:80px;}
  100% {right:900px; bottom:100px;}
}

@keyframes title {
  0% {top:0px}
  100% {top: 10px}
}

