$yellow: #c3b935;
// вставить js spaceship run from наведение мышки
@font-face {
  font-family: "Starjedi", sans-serif;
  src: url(fonts/Starjedi.ttf);
  src: url(fonts/Starjhol.ttf);

}

body {
  margin: 0;
  background-color: black;
  color:yellow;
  font-family: "Starjhol", monospace;
}

.yodish-header {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  text-align: center;
}

.yodish-header__logo {
  position: relative;
  animation: title infinite 2s;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.spaceship {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
  animation: example infinite 10s;
  animation-direction: alternate-reverse; 
  animation-timing-function: ease-out;
}

@keyframes example {
  0%   {right:50px; bottom:0px;}
  25%  {right:10px; bottom:80px;}
  50%  {right:200px; bottom:200px;}
  75%  {right:500px; bottom:80px;}
  100% {right:900px; bottom:100px;}
}

@keyframes title {
  0% {top:0px}
  100% {top: 10px}
}